@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=cyrillic');
/* Подключение шрифтов через ( @import ) Важно чтобы подключение было на самой верхней строчке */
body {
  font-family: 'Open Sans', sans-serif;
}
/* ============================================== */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* Базовые настройки всего документа */
/* ================================================= */
/* у этих элиментов в состояний ФОКУСИРОВКИ не будет обводки */
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
/* ============================================== */
/* Это свойство для того чтобы у всёх сылок при наведение не будет обводки */
a:hover {
  text-decoration: none;
}
/* ============================================== */
/* Базовый размер шрифта для всего проекта html заданый нами. */
html {
  font-size: 10px;
}
/* ============================================== */
/* У всего базового шаблона будут отступы */
section {
  padding: 10rem 0px;
  /* Означает что у каждой секций сверху и снизу будет по 10rem */
}
/* ============================================== */
/* Первый блок №1 */
/* ============================================== */
