body {
	font-family: 'Open Sans', sans-serif;
	color: #7581a1;
	line-height: 2.6rem;
	font-size: 1.6rem;
}
/* ============================================== */

* {
	box-sizing: border-box;
}

/* Базовые настройки всего документа */
/* ================================================= */
/* В спокойном состаянии черты не будет */
a {
	text-decoration: none;
}
/* =========================================== */
/* у этих элиментов в состояний ФОКУСИРОВКИ не будет обводки */
button, input, a, textarea {  
	&:focus {
		outline: none;
	}
}
/* ============================================== */

/* Это свойство для того чтобы у всёх сылок при наведение не будет обводки */
a:hover {        
	text-decoration: none;   
}
/* ============================================== */

/* Базовый размер шрифта для всего проекта html заданый нами. */
html {
	font-size: 10px;    
}
/* ============================================== */

/* У всего базового шаблона будут отступы */
section {
	padding: 10rem 0px; /* Означает что у каждой секций сверху и снизу будет по 10rem */ 
}
/* ============================================== */

/* Первый блок №1 */
/* ============================================== */
// .menu {
// 	background: url(../img/header-bg.png) center no-repeat;
// 	background-size: cover;
// 	height: 1007px;
// }
h1 {  /* Стили-ем заголовок */
	color: #192b59;
	font-weight: 600;
	font-size: 8rem;
}
.nav { /* Стили-ем класс */
 color: #6e7ea9;
 font-size: 1.2rem;
 font-weight: 700;
 text-transform: uppercase;
}
.btn-free {  /* Стили-ем класс */
 background-color: #1085e4;
 color: #fff;
 font-size: 1.2rem;
 border-radius: 30px;
 padding: 25px 55px;
}
/* ========================================= */
/* Третий блок */
.grid h2 {  /* Стили-ем заголовок (h2) в классе */
	color: #192b59;
	font-weight: 700;
	font-size: 4rem;
}
.grid h2 span {  /* Стили-ем тег (span) в классе */
	display: block;
	color: #1085e4;
	font-size: 1.4rem;
}
.grid-item h3 {  /* Стили-ем заголовок (h3) в классе */
	font-size: 2rem;
	color: #192b59;
	font-weight: 600;
}
.grid-item a {  /* Стили-ем ссылки (a) в классе */
	font-weight: 600;
	font-size: 1.4rem;
	color: #50a6eb;
}

